<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <php>
<!--        <var name="GETADDRESS_API_KEY" value="" />-->
    </php>
    <testsuites>
        <testsuite name="get-address-io-oho Test">
<!--            <file>test/GetAddressTest.php</file>-->
        </testsuite>
    </testsuites>
</phpunit>